# Exploratory data analysis for togo-dapaong_qc

## Summary Statistics

### Reading data

In [17]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../data/togo-dapaong_qc.csv')

### Inspect data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [7]:
df.shape

(525600, 19)

In [8]:
df.head()   # Displays the first 5 rows starting from 0

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

In [9]:
summary = df.describe()

In [10]:
summary

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,230.555040,151.258469,116.444352,226.144375,219.568588,27.751788,55.013160,2.368093,3.229490,0.557740,161.741845,10.559568,975.915242,0.000535,0.001382,32.444403,33.543330,NaN
std,322.532347,250.956962,156.520714,317.346938,307.932510,4.758023,28.778732,1.462668,1.882565,0.268923,91.877217,5.915490,2.153977,0.023116,0.026350,10.998334,12.769277,NaN
min,-12.700000,0.000000,0.000000,0.000000,0.000000,14.900000,3.300000,0.000000,0.000000,0.000000,0.000000,0.000000,968.000000,0.000000,0.000000,13.100000,13.100000,NaN
25%,-2.200000,0.000000,0.000000,0.000000,0.000000,24.200000,26.500000,1.400000,1.900000,0.400000,74.800000,6.900000,975.000000,0.000000,0.000000,23.900000,23.600000,NaN
50%,2.100000,0.000000,2.500000,4.400000,4.300000,27.200000,59.300000,2.200000,2.900000,0.500000,199.100000,10.800000,976.000000,0.000000,0.000000,28.400000,28.400000,NaN
75%,442.400000,246.400000,215.700000,422.525000,411.000000,31.100000,80.800000,3.200000,4.400000,0.700000,233.500000,14.100000,977.000000,0.000000,0.000000,40.600000,43.000000,NaN
max,1424.000000,1004.500000,805.700000,1380.000000,1367.000000,41.400000,99.800000,16.100000,23.100000,4.700000,360.000000,86.900000,983.000000,1.000000,2.300000,70.400000,94.600000,NaN

## Data Quality Check

* Check for missing values:

In [11]:
missing_values = df.isnull().sum()

In [12]:
missing_values

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

* Check for Incorrect Entries

In [13]:
invalid_entries = df[(df['GHI'] < 0) | (df['DNI'] < 0) | (df['DHI'] < 0)]
print(f"Invalid Entries Found:\n{invalid_entries}")

Invalid Entries Found:
               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0       2021-10-25 00:01 -1.3  0.0  0.0   0.0   0.0  24.8  94.5  0.9     1.1
1       2021-10-25 00:02 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.1     1.6
2       2021-10-25 00:03 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.2     1.4
3       2021-10-25 00:04 -1.2  0.0  0.0   0.0   0.0  24.8  94.3  1.2     1.6
4       2021-10-25 00:05 -1.2  0.0  0.0   0.0   0.0  24.8  94.0  1.3     1.6
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
525595  2022-10-24 23:56 -0.8  0.0  0.0   0.0   0.0  25.2  53.8  0.0     0.0
525596  2022-10-24 23:57 -0.9  0.0  0.0   0.0   0.0  25.3  53.5  0.0     0.0
525597  2022-10-24 23:58 -1.0  0.0  0.0   0.0   0.0  25.3  53.4  0.0     0.0
525598  2022-10-24 23:59 -1.1  0.0  0.0   0.0   0.0  25.4  53.5  0.0     0.0
525599  2022-10-25 00:00 -1.2  0.0  0.0   0.0   0.0  25.4  52.3  0.0     0.0

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0           0.4  227.6      1.1  977         0            0.0   24.7   24.4
1           0.4  229.3      0.7  977         0            0.0   24.7   24.4
2           0.3  228.5      2.9  977         0            0.0   24.7   24.4
3           0.3  229.1      4.6  977         0            0.0   24.7   24.4
4           0.4  227.5      1.6  977         0            0.0   24.7   24.4
...         ...    ...      ...  ...       ...            ...    ...    ...
525595      0.0    0.0      0.0  977         0            0.0   24.3   24.0
525596      0.0    0.0      0.0  977         0            0.0   24.3   24.0
525597      0.0    0.0      0.0  977         0            0.0   24.2   23.9
525598      0.0    0.0      0.0  977         0            0.0   24.1   23.8
525599      0.0    0.0      0.0  977         0            0.0   24.1   23.8

        Comments
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

[257385 rows x 19 columns]

* Invalid Ranges: For columns like wind direction (WD), ensure values are within the valid range (0–360 degrees):

In [14]:
invalid_wd = df[(df['WD'] < 0) | (df['WD'] > 360)]
print(f"Invalid Wind Direction Entries:\n{invalid_wd}")

Invalid Wind Direction Entries:
Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, WD, WDstdev, BP, Cleaning, Precipitation, TModA, TModB, Comments]
Index: []

* Check Autliers

In [15]:
def detect_outliers_zscore(series, threshold=3):
  """
  Detects outliers in a pandas Series using the Z-score method.

  Args:
    series: The pandas Series containing the data.
    threshold: The z-score threshold for identifying outliers (default: 3).

  Returns:
    A boolean Series indicating whether each data point is an outlier.
  """
  z_scores = np.abs((series - series.mean()) / series.std())
  return z_scores > threshold

In [18]:
columns_to_check = ['ModA', 'ModB', 'WS', 'WSgust']

for col in columns_to_check:
  # Detect outliers using Z-score
  outliers_zscore = detect_outliers_zscore(df[col]) 
  print(f"Outliers in {col} (Z-score):")
  print(df[outliers_zscore])

Outliers in ModA (Z-score):
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
248418  2022-04-15 12:19  1267.0  666.5  593.3  1194.0  1164.0  35.3  45.3
248425  2022-04-15 12:26  1263.0  653.3  602.0  1185.0  1154.0  35.3  45.8
255471  2022-04-20 09:52  1262.0  733.6  631.7  1184.0  1145.0  34.2  48.6
255593  2022-04-20 11:54  1263.0  756.6  492.9  1185.0  1152.0  35.5  42.4
269959  2022-04-30 11:20  1301.0  733.9  562.1  1195.0  1178.0  31.0  54.5
...                  ...     ...    ...    ...     ...     ...   ...   ...
510411  2022-10-14 10:52  1162.0  742.9  453.3  1196.2  1179.0  30.1  69.3
510412  2022-10-14 10:53  1285.0  862.8  460.8  1309.4  1290.0  30.1  67.8
510413  2022-10-14 10:54  1202.0  748.9  494.9  1242.3  1225.0  30.1  68.0
510414  2022-10-14 10:55  1267.0  790.9  514.5  1299.4  1280.0  30.1  68.6
510416  2022-10-14 10:57  1214.0  699.2  542.7  1244.3  1226.0  30.3  69.2

         WS  WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  \
248418  3.5     4.1      0.5  225.6     17.6  974         0            0.0
248425  4.2     6.4      1.4  224.1     18.8  974         0            0.0
255471  3.9     5.4      0.9  224.1     17.4  976         0            0.0
255593  2.8     3.4      0.5  252.9     21.4  975         0            0.0
269959  2.7     3.4      0.5  284.0      8.1  978         0            0.0
...     ...     ...      ...    ...      ...  ...       ...            ...
510411  4.8     6.2      0.9  167.2     16.1  978         0            0.0
510412  5.1     6.4      0.9  182.7     13.4  978         0            0.0
510413  4.4     6.4      1.2  169.9     10.9  978         0            0.0
510414  4.0     5.2      0.9  160.1     15.0  978         0            0.0
510416  2.4     4.1      0.7  165.5     23.4  978         0            0.0

        TModA  TModB  Comments
248418   58.5   62.1       NaN
248425   59.5   63.0       NaN
255471   62.1   72.4       NaN
255593   58.0   63.0       NaN
269959   56.4   65.6       NaN
...       ...    ...       ...
510411   53.2   62.6       NaN
510412   53.7   62.9       NaN
510413   54.2   63.4       NaN
510414   54.9   64.3       NaN
510416   56.1   65.6       NaN

[137 rows x 19 columns]
Outliers in ModB (Z-score):
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
4985    2021-10-28 11:06  1139.0  805.1  466.1  1172.0  1154.0  29.8  70.8
248418  2022-04-15 12:19  1267.0  666.5  593.3  1194.0  1164.0  35.3  45.3
248425  2022-04-15 12:26  1263.0  653.3  602.0  1185.0  1154.0  35.3  45.8
255471  2022-04-20 09:52  1262.0  733.6  631.7  1184.0  1145.0  34.2  48.6
255593  2022-04-20 11:54  1263.0  756.6  492.9  1185.0  1152.0  35.5  42.4
...                  ...     ...    ...    ...     ...     ...   ...   ...
510411  2022-10-14 10:52  1162.0  742.9  453.3  1196.2  1179.0  30.1  69.3
510412  2022-10-14 10:53  1285.0  862.8  460.8  1309.4  1290.0  30.1  67.8
510413  2022-10-14 10:54  1202.0  748.9  494.9  1242.3  1225.0  30.1  68.0
510414  2022-10-14 10:55  1267.0  790.9  514.5  1299.4  1280.0  30.1  68.6
510416  2022-10-14 10:57  1214.0  699.2  542.7  1244.3  1226.0  30.3  69.2

         WS  WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  \
4985    2.2     2.6      0.4  298.6     13.4  977         0            0.0
248418  3.5     4.1      0.5  225.6     17.6  974         0            0.0
248425  4.2     6.4      1.4  224.1     18.8  974         0            0.0
255471  3.9     5.4      0.9  224.1     17.4  976         0            0.0
255593  2.8     3.4      0.5  252.9     21.4  975         0            0.0
...     ...     ...      ...    ...      ...  ...       ...            ...
510411  4.8     6.2      0.9  167.2     16.1  978         0            0.0
510412  5.1     6.4      0.9  182.7     13.4  978         0            0.0
510413  4.4     6.4      1.2  169.9     10.9  978         0            0.0
510414  4.0     5.2      0.9  160.1     15.0  978         0            0.0
510416  2.4     4.1      0.7  165.5     23.4  978         0            0.0

        TModA  TModB  Comments
4985     44.7   50.2       NaN
248418   58.5   62.1       NaN
248425   59.5   63.0       NaN
255471   62.1   72.4       NaN
255593   58.0   63.0       NaN
...       ...    ...       ...
510411   53.2   62.6       NaN
510412   53.7   62.9       NaN
510413   54.2   63.4       NaN
510414   54.9   64.3       NaN
510416   56.1   65.6       NaN

[206 rows x 19 columns]
Outliers in WS (Z-score):
               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
5411    2021-10-28 18:12 -1.0  0.0  0.0   0.0   0.0  29.3  62.4  6.9     8.9
5413    2021-10-28 18:14 -0.8  0.0  0.0   0.0   0.0  28.6  63.7  7.1     8.9
5425    2021-10-28 18:26 -1.3  0.0  0.0   0.0   0.0  27.3  65.0  6.9    10.0
5429    2021-10-28 18:30 -1.3  0.0  0.0   0.0   0.0  27.1  65.2  6.9     8.7
5432    2021-10-28 18:33 -1.4  0.0  0.0   0.0   0.0  26.9  65.6  6.9     8.4
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
509544  2022-10-13 20:25 -1.9  0.0  0.0   0.0   0.0  22.6  89.7  6.9    10.0
509555  2022-10-13 20:36 -1.5  0.0  0.0   0.0   0.0  22.2  92.1  7.1    11.0
509566  2022-10-13 20:47 -0.7  0.0  0.0   0.0   0.0  21.7  92.6  6.8     9.2
509568  2022-10-13 20:49 -0.5  0.0  0.0   0.0   0.0  21.5  92.0  7.3     9.2
509569  2022-10-13 20:50 -0.3  0.0  0.0   0.0   0.0  21.5  91.6  8.2    10.0

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
5411        1.2  128.7     10.8  976         0            0.0   29.9   29.5
5413        1.1  127.9     14.4  976         0            0.0   29.5   29.2
5425        1.6  131.2     13.1  976         0            0.0   28.0   27.7
5429        1.0  126.7     11.1  976         0            0.0   27.8   27.5
5432        0.9  122.5     13.2  976         0            0.0   27.4   27.0
...         ...    ...      ...  ...       ...            ...    ...    ...
509544      1.3   76.5     17.6  979         0            0.0   22.9   22.6
509555      1.7   66.9     15.8  979         0            0.0   22.6   22.3
509566      1.2   58.6     18.5  979         0            0.1   22.0   21.9
509568      1.2   55.9     14.0  979         0            0.1   21.8   21.7
509569      1.1   53.1     12.8  979         0            0.1   21.6   21.6

        Comments
5411         NaN
5413         NaN
5425         NaN
5429         NaN
5432         NaN
...          ...
509544       NaN
509555       NaN
509566       NaN
509568       NaN
509569       NaN

[3510 rows x 19 columns]
Outliers in WSgust (Z-score):
               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
5410    2021-10-28 18:11 -1.2  0.0  0.0   0.0   0.0  29.7  63.5  6.6     9.7
5411    2021-10-28 18:12 -1.0  0.0  0.0   0.0   0.0  29.3  62.4  6.9     8.9
5413    2021-10-28 18:14 -0.8  0.0  0.0   0.0   0.0  28.6  63.7  7.1     8.9
5420    2021-10-28 18:21 -1.3  0.0  0.0   0.0   0.0  27.7  64.5  6.1     8.9
5425    2021-10-28 18:26 -1.3  0.0  0.0   0.0   0.0  27.3  65.0  6.9    10.0
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
509566  2022-10-13 20:47 -0.7  0.0  0.0   0.0   0.0  21.7  92.6  6.8     9.2
509568  2022-10-13 20:49 -0.5  0.0  0.0   0.0   0.0  21.5  92.0  7.3     9.2
509569  2022-10-13 20:50 -0.3  0.0  0.0   0.0   0.0  21.5  91.6  8.2    10.0
509570  2022-10-13 20:51 -0.1  0.0  0.0   0.0   0.0  21.4  91.2  6.3     8.9
509585  2022-10-13 21:06 -0.5  0.0  0.0   0.0   0.0  21.6  91.8  5.7     8.9

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
5410        1.6  122.1     14.3  976         0            0.0   30.0   29.5
5411        1.2  128.7     10.8  976         0            0.0   29.9   29.5
5413        1.1  127.9     14.4  976         0            0.0   29.5   29.2
5420        1.3  123.2     14.4  977         0            0.0   28.4   28.2
5425        1.6  131.2     13.1  976         0            0.0   28.0   27.7
...         ...    ...      ...  ...       ...            ...    ...    ...
509566      1.2   58.6     18.5  979         0            0.1   22.0   21.9
509568      1.2   55.9     14.0  979         0            0.1   21.8   21.7
509569      1.1   53.1     12.8  979         0            0.1   21.6   21.6
509570      1.6   56.6     17.2  979         0            0.1   21.5   21.5
509585      1.9   59.7     12.4  979         0            0.0   21.8   21.6

        Comments
5410         NaN
5411         NaN
5413         NaN
5420         NaN
5425         NaN
...          ...
509566       NaN
509568       NaN
509569       NaN
509570       NaN
509585       NaN

[3915 rows x 19 columns]